REDIS_HOST=localhost
REDIS_PORT=6379
DICTIONARY_API_URL=https://www.dictionaryapi.com/api/v3/references/collegiate/json/
DICTIONARY_API_KEY=9d670486-d0a0-4ad8-835b-de550e02472e
CORS_ALLOW_ORIGINS=["*"]
